@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

* {
 box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


@theme {
  --font-funnel: "Funnel Sans", sans-serif; 
  --color-accent: #ff0000;
  --color-white: #ffffff;
  --color-textGray: #616161;
   
  }

  .custom-calendar {
  border-radius: 8px;
  overflow: hidden;
}

.react-datepicker__month-container {
  background-color: white;
}

.react-datepicker__header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #ff0000 !important;
  color: white !important;
  border-radius: 50%;
}

.react-datepicker__day:hover {
  background-color: #ff0000 !important;
  color: white !important;
  border-radius: 50%;
}

.react-datepicker__current-month {
  font-weight: bold;
}

